<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/profile.jpg">
        </div>
        {{>footer}}
    </body>
</html>